.App {
  color: rgb(253, 253, 253);
  text-align: center;
  background-image: url('./images/Background.png');
  height: auto;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
}